# Arquivos de compilação do Java
bin/
*.class

# Arquivos de metadados do Eclipse
.classpath
.project
.settings/

# Arquivos de log e logs de crash da JVM
*.log
hs_err_pid*
replay_pid*

# Arquivos de pacotes (geralmente não devem ser versionados)
*.jar
*.war
*.ear

# Arquivo de propriedades com senhas
db.properties